<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aspprojekt20170108023428.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>aspprojekt20170108023428.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ASPProjekt20170108023428</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ASPProjekt20170108023428</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:asp-projekt-server.database.windows.net,1433;Initial Catalog=ASPProjekt20170108023428_db;Persist Security Info=True;User ID=admin-servera@asp-projekt-server;Password=Hasło123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ASPProjekt.Models.ApplicationDbContext, ASPProjekt" MigrationConfiguration="ASPProjekt.Migrations.Configuration, ASPProjekt" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:asp-projekt-server.database.windows.net,1433;Initial Catalog=ASPProjekt20170108023428_db;Persist Security Info=True;User ID=admin-servera@asp-projekt-server;Password=Hasło123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>